*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body{
    margin: 3rem auto;
    width: 100%;
    height: 100%;
    
    font: 'Inter-Variable';
   /* border: 3px solid black;
    color: black;
    
}
@font-face {
    font-family: 'Inter-VariableFont_slnt, wght';
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}*/
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container{
    display: grid;
    margin: 2rem auto;
    padding: 2rem;
    border: 5px solid black;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh 30vh 30vh repeat(2, 40vh);
    align-content: space-around;
    justify-content: space-between;
    grid-gap: 1rem;
}
.header{
    grid-row: 1 / 2;
    grid-column: 1 / -1; 
    display: flex;
    justify-content: space-between;
    
    border: 3px solid red;
}
.logo{
    width: auto;
    height: 100%;
}
.navbar {
    display: flex;
    flex-direction: row;;
    justify-content: space-between;
    width: 50%;   
}
.navbar_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
}
.image{
    grid-row: 2 / 3; 
    grid-column: 1 / 3;
     border: 3px solid blue;
}
.main_image {
    width: max-content;
    height: 100%;
    display: inline-block;
}
.main_article {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    display: flex;
    border: 3px solid  green;
}
.aside {
    grid-row: 2 / 4;
    grid-column: 4 / -1;
    background-color: black;
    color: white;
}
.articles {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;

}
    
    /*width: 60vw;
    height: auto;*/
    /*display: inline-block;
    margin-top: 0;
    background-image: url(images/image-web-3-desktop.jpg);
    background-size: cover;*/
    

























/*
.container{
    display: grid;
    grid-template-columns: repeat(autofill, minmax(400px, 1fr));
    grid-template-rows: 1fr minmax(repeat(min-content,15rem)) 1fr;
    grid-gap: 2rem;
    margin: 1.5rem;
    /*border: 3px solid black;*/
    
    /*grid-template-rows: minmax(0px, 1fr) repeat(2, 2fr) 1fr;
    
    grid-auto-rows: 400px;
    width: 100%;*/
    border: 3px solid black;
    
    /*grid-template-rows: minmax(0px, 1fr) repeat(2, 2fr) 1fr;
    
    grid-auto-rows: 400px;
    width: 100%;*/
}/*
header {
    grid-area: header; 
    display: flex;
    justify-content: space-between;
    padding: 5%;
    
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33.3%;   
}
.navbar_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
}

.logo{
    width: 5%;
    height: auto;
}

.main_image {
    grid-area: main_image;
    width: max-content;
    height: auto;
    
    /*width: 60vw;
    height: auto;*/
    /*display: inline-block;
    margin-top: 0;
    background-image: url(images/image-web-3-desktop.jpg);
    background-size: cover;*/
    
}
/*.main_section{
    grid-area: main_section;
    display: sub-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 2px solid red;
}*/
/*
.main_article {
    grid-area: main_article;
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: auto;
    border: 3px solid  green;
    
}
.aside {
    grid-area: aside;
    border: 3px solid purple;
    max-width: 30vw;
    height: auto;
}
.aside {
    background-color: black;
    color: white;
}
.aside_title {
    font-size: 2rem;
    font-weight: 700;
    /*margin-bottom: 1rem;*/
 /*   padding: 1.5rem;
    
}*/
/*}
.aside_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    padding: 1.5rem;

}
.asides {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
aside01{
    padding-bottom: 1.5rem;
}
.aside01 h3 {
    padding-bottom: 1rem;
}
.aside02 h3 {
    padding-top: 4rem;
    padding-bottom: 1rem;
}
.aside03 h3 {
    padding-top: 4rem;
    padding-bottom: 1rem;
}
/*
.item4 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    background-color: orange;
}
.item5 {
    grid-row: 2 / 4;
    grid-column: 3 / -1;
    background-color: purple;
}
.item6{
    grid-row: 4 / -1;
    grid-column: 1 / 2;
    background-color: pink;
}
.item7 {
    grid-row: 4 / -1;
    grid-column: 2 / 3;
    background-color: gold;
}
.item8{
    grid-row: 4 / -1;
    grid-column: 3 / -1;
    background-color: grey;
}

/*
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    width: 75px;
    height: 50px;
}

main {
    margin-top: 3rem;
    width: 1200px;
    display: grid;
    grid-template-columns: fit-content(30%) fit-content(30%) 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-areas: "main_image main_image aside"
                        "main_section main_section aside"
                        "article01 article02 article03";
}
.main_image{
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    max-height: 100%;
    border: 2px solid red;
}
.main_section{
    grid-area: main_section;
    display: sub-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 2px solid red;
}
.aside {
    grid-area: aside;
    max-width: max-content;
    grid-column: 3 / -1;]
    border: 10px solid purple;
}
.articles{
    grid-area: articles;
    display: flex;
    flex-direction: row;
    justify-content: space-bwtween;
}
.article01{
    grid-area: article01;
}
.article02{
    grid-area: article02;
}
.article03{
    grid-area: article03;
}

.main_article_title {
    grid-area: main_article_title;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    

}
.aside {
    background-color: black;
    color: white;
}
.aside_title {
    font-size: 2rem;
    font-weight: 700;
    /*margin-bottom: 1rem;*/
 /*   padding: 1.5rem;
    
}*/
/*
.aside_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    padding: 1.5rem;

}
.asides {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
aside01{
    padding-bottom: 1.5rem;
}
.aside01 h3 {
    padding-bottom: 1rem;
}
.aside02 h3 {
    padding-top: 4rem;
    padding-bottom: 1rem;
}
.aside03 h3 {
    padding-top: 4rem;
    padding-bottom: 1rem;
}
*/
